.example-spacer 
{
    // display: flex;
    flex: 1 1 auto;
    // justify-content: center; 
    // align-items: center;
}

#search
{
    margin: 20px;
    font-size: 15px;
    padding: 5px 10px 5px ;
    border: none;
    border-radius: 10px;
    outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.Main-container
{
  display:flex;
}

.item1
{
  height: 180px;
  width: 100%;
}

.item{
  margin: 25px 20px 0px 35px;
  padding: 5px;
  background-color: rgb(207, 203, 203);
  width: 200px;
  height: 380px;
  border: solid 1px rgb(32, 35, 41);
  border-radius: 10px;
}

.name
{
  color:rgb(187, 3, 3);   
  font-size: 17px;
  text-align:center;
}

.price
{
  color:rgb(0, 0, 0);
  font-size: 17px;
  text-align:left;
}

.quantity
{
  color:rgb(0, 0, 0);
  font-size: 17px;
  text-align:left;
}

.describe
{
  color:rgb(0, 0, 0);
  font-size: 17px;
  text-align:left;
}

mat-raised-button
{
  float: right;
}